<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.cn.demo.messagePassing.mapper.MessageMapper">

    <select id="selectMessageList" parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageReq"
                                   resultType ="com.capgemini.cn.demo.messagePassing.vo.response.MessageResp">
        select a.messageId,a.title,c.messageTypeName,a.content,b.username,a.ifAll,a.beginTime,a.endTime,a.recordTime
        from message a, user b, messagetype c
        where a.ifDelete = 0 and a.fromUserId = b.userId and a.type = c.messageTypeId
        <if test="messageReq.beginTime != null and messageReq.endTime != null">
            and beginTime between #{messageReq.beginTime} and #{messageReq.endTime}
            and (endTime between #{messageReq.beginTime} and #{messageReq.endTime})
        </if>
    </select>

    <select id="selectToUserList" parameterType="Integer" resultType="Long">
        select touserId
        from messagetouser
        where messageId = #{messageId}
    </select>

    <select id="getUserNameByUserId" resultType="String" parameterType="Long">
        select name
        from user
        where userId = #{userId}
    </select>

    <select id="selectMessageByDay" parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageReq"
                                    resultType="com.capgemini.cn.demo.messagePassing.vo.response.MessageResp">
        select a.messageId,a.title,a.type,a.content,b.username,a.ifAll,a.beginTime,a.endTime,a.recordTime
        from message a, user b
        where a.fromUserId = b.userId and a.ifDelete = 0 and to_days(a.recordTime) = to_days(now())
    </select>

    <select id="selectMessageByWeek" parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageReq"
                                     resultType="com.capgemini.cn.demo.messagePassing.vo.response.MessageResp">
        select a.messageId,a.title,a.type,a.content,b.username,a.ifAll,a.beginTime,a.endTime,a.recordTime
        from message a, user b
        where a.fromUserId = b.userId and a.ifDelete = 0 and YEARWEEK(date_format(a.recordTime,'%Y-%m-%d')) = YEARWEEK(now())
    </select>

    <select id="selectMessageByMonth" parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageReq"
                                      resultType="com.capgemini.cn.demo.messagePassing.vo.response.MessageResp">
        select a.messageId,a.title,a.type,a.content,b.username,a.ifAll,a.beginTime,a.endTime,a.recordTime
        from message a, user b
        where a.fromUserId = b.userId and a.ifDelete = 0 and DATE_FORMAT(a.recordTime,'%Y%m') = DATE_FORMAT( CURDATE( ),'%Y%m')
    </select>
    
    <select id="getIfPublishById" resultType="Integer" parameterType="Integer">
        select ifPublish
        from message
        where messageId = #{messageId}
    </select>

    <update id="publishMessage" parameterType="com.capgemini.cn.demo.messagePassing.entity.Message">
        update message
        <set>
            ifPublish = 1,
            recordTime = now()
        </set>
        where messageId = #{messagePublish.messageId} and ifPublish = 0
    </update>

    <insert id="insertReadCommonMessage" parameterType="com.capgemini.cn.demo.messagePassing.entity.ReadCommonMessage">
        insert into readcommonmessage
        (
        messageId,userId
        )
        values
        <foreach collection="readCommonMessages" item="readCommonMessage" separator=",">
            (
            #{readCommonMessage.messageId},
            #{readCommonMessage.userId}
            )
        </foreach>
    </insert>

    <select id="count" resultType="Long"
                       parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageReq">
        select count(*)
        from message
        where ifDelete = 0
    </select>

    <update id="deleteMessageById" parameterType="com.capgemini.cn.demo.messagePassing.vo.request.MessageDeleteReq">
        update message
        set ifDelete = 1
        where messageId in(
        <foreach collection="messageDeleteReq.messageIds" item="messageId" separator=",">
            #{messageId}
        </foreach>
        )
    </update>

    <insert id="insertMessage" parameterType="com.capgemini.cn.demo.messagePassing.entity.Message">
        insert into message
        (
        title,beginTime,endTime,type,content,fromUserId,ifPublish,ifDelete,updateTime,updateUserId,ifAll,recordTime
        )
        values
            (
            #{title},
            #{beginTime},
            #{endTime},
            #{type},
            #{content},
            #{fromUserId},
            0,
            0,
            now(),
            #{fromUserId},
            #{ifAll},
            now()
            )
        <selectKey keyProperty="messageId" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertToUser" parameterType="com.capgemini.cn.demo.messagePassing.entity.MessageToUser">
        insert into messagetouser
        (
        messageId,
        touserId,
        ifRead
        )
        values
            (
            #{messageToUser.messageId},
            #{messageToUser.touserId},
            0
            )
    </insert>

    <select id="getIdByTypeName" resultType="Integer"
                                 parameterType="String">
        select messageTypeId
        from messagetype
        where messageTypeName = #{typeName}
    </select>

    <select id="searchMessageId" resultType="Integer">
          select messageId
          from message
          order by messageId desc
          limit 1
    </select>

    <update id="updateAllSend" parameterType="INTEGER">
        update message
        <set>
            ifAll = 1
        </set>
        where messageId = #{messageId}
    </update>

    <update id="updateMessage" parameterType="com.capgemini.cn.demo.messagePassing.entity.Message">
        update message
        <set>
            <if test="messageEdit.title != null">
                title = #{messageEdit.title},
            </if>
            <if test="messageEdit.type != null">
                type = #{messageEdit.type},
            </if>
            <if test="messageEdit.content != null">
                content = #{messageEdit.content},
            </if>
            <if test="messageEdit.beginTime != null">
                beginTime = #{messageEdit.beginTime},
            </if>
            <if test="messageEdit.endTime != null">
                endTime = #{messageEdit.endTime},
            </if>
        </set>
        where messageId = #{messageEdit.messageId}
    </update>

    <select id="selectBranchList" resultType="com.capgemini.cn.demo.messagePassing.vo.response.BranchResp"
                                  parameterType="com.capgemini.cn.demo.messagePassing.vo.request.BranchDepReq">
        select branchId, branchName
        from branch
    </select>

    <select id="selectDepartList" resultType="com.capgemini.cn.demo.messagePassing.vo.response.DepartResp"
                                  parameterType="com.capgemini.cn.demo.messagePassing.vo.request.BranchDepReq">
        select a.departId, a.departName, b.branchName
        from depart a, branch b
        where a.branchId = b.branchId
    </select>

    <select id="selectUserList" resultType="com.capgemini.cn.demo.messagePassing.vo.response.UserResp"
                                parameterType="com.capgemini.cn.demo.messagePassing.vo.request.BranchDepReq">
        select userId, name
        from user
    </select>

    <select id="selectDepartListByBranch" resultType="com.capgemini.cn.demo.messagePassing.vo.response.DepartResp"
                                          parameterType="Long">
        select departId, departName
        from depart
        where branchId = #{userReq.branchId}
    </select>
    <!--通过机构ID查找机构名-->
    <select id="getBranchNameById" resultType="Long" parameterType="String">
        select branchId
        from branch
        where branchName = #{userReq.branchName}
    </select>

    <select id="selectUserListByDep" resultType="com.capgemini.cn.demo.messagePassing.vo.response.UserResp"
                                     parameterType="String">
        select name
        from user a, depart b
        where b.departName = #{departName} and a.userId = b.principalUser
    </select>

    <select id="selectUserByName" resultType="com.capgemini.cn.demo.messagePassing.vo.response.UserResp"
                                  parameterType="com.capgemini.cn.demo.messagePassing.vo.request.UserReq">
        select name
        from user a, depart b
        where a.userId = b.principalUser and b.departName = #{userReq.departName}
            and name like concat('%',#{userReq.name,jdbcType=VARCHAR},'%')
    </select>

    <!--通过机构ID查找该机构下的所有员工-->
    <select id="selectUsersByBranchId" resultType="com.capgemini.cn.demo.messagePassing.vo.response.UserResp"
                                       parameterType="Long">
        select name
        from depart a, branch b, user c
        where a.branchId = b.branchId and c.userId = a.principalUser and b.branchId = #{branchId}
    </select>

</mapper>
